<div class="row">

  <div class="col-md-8">

    <div class="jumbotron">
      <h1><%= @project.title %></h1>
      <p class="lead"><%= @project.short_description %></p>

    </div>

    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <iframe src="//www.facebook.com/plugins/like.php?href=<%= URI.encode(request.original_url) %>&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=420436051410681" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
    </p>

    <p><%= @project.extended_description %></p>

<!--     <%#= link_to 'Editar', edit_project_path(@project) %> |
    <%#= link_to 'Atrás', projects_path %> -->
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= number_to_currency(@project.total_contributed || 0) %> <small>DOP</small></h3>
        <p>de un total de <%= number_to_currency(@project.funding_goal) %></p>

        <h3><%= @project.time_left %> <small>DIAS</small></h3>
        <p>de un total de <%= @project.funding_duration %> dias</p>

        <h3><%= @project.total_contributors %> <small>CONTRIBUYENTES</small></h3>
        <p>ver lista de aportes.</p>

        <br>
        <p><%= link_to 'Apoyanos!', new_project_contribution_path(@project), class: 'btn btn-primary', role: 'button' %></p>
      </div>
    </div>
  </div>
</div>
