<% content_for :header do %>
  <header class="hhero">
    <h1>Comercio Colaborativo</h1>
    <hr class="star-light">
    <h2>Desarrolla Proyectos · Vende Productos</h2>
  </header>

  <article id="works" class="three-columns">
    <h1>Como Funciona</h1>
    <hr class="star-primary">

    <section>
      <div class="box onethree">
        <span class="fa-stack fa-5x icons">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Crea</h2>
        <p class="lead">Crea una campaña para tu idea e inserta tus productos en nuestra plataforma</p>
        <p><a class="btn btn-primary" href="<%= projects_path %>" role="button"> Inspírate &raquo;</a></p>
      </div>
    </section>

    <section>
      <div class="box twothree">
        <span class="fa-stack fa-5x icons">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Comparte</h2>
        <p class="lead">Promueve tus proyectos y productos. Gana exposición comunicando tu valor.</p>
        <p><a class="btn btn-primary" href="<%= new_project_path %>" role="button"> Comienza &raquo;</a></p>
      </div>
    </section>

    <section>
      <div class="box threethree">
        <span class="fa-stack fa-5x icons">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-money fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Recibe</h2>
        <p class="lead">Recibe los ingresos logrados y comienza a hacer tus proyectos realidad.</p>
        <p><a class="btn btn-primary" href="<%= new_project_path %>" role="button"> Gana &raquo;</a></p>
      </div>
    </section>
  </article>

  <article id="about" class="two-columns-responsive">
    <h1>Nosotros</h1>
    <hr class="star-light">
    <section>
      <p>Somos una empresa dominicana que busca impulsar el emprendedurismo en nuestro país. Conectamos emprendedores con contribuyentes en cualquier parte del mundo. ¡Te conéctamos con personas interesadas en apoyarte a lograr tus sueños!</p>
    </section>
  </article>

  <article class="featured">
    <h1 class="title"><%= link_to 'Proyectos destacados', projects_path %></h1>
    <hr class="star-primary">
    <section>
      <% projects = Project.order("id desc").limit(3) %>
      <% if projects.any? %>
        <div id="projects_container">
          <% projects.each do |project| %>
            <div class="col-sm-6 col-md-4 project_item">
              <%= render 'projects/project_thumbnail', project: project %>
            </div>
          <% end %>
        </div>
      <% else %>
        <h2>No hay projectos para mostrar. Crear uno nuevo <%= link_to "aqui.", new_project_path %></h2>
      <% end %>
    </section>
  </article>
<% end %>
