<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="item active">
      <%= image_tag 'sueno.jpg', alt: 'First Slide', class: 'img-responsive' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Sueña</h1>
          <p>Tu tienes metas que mercen ser alcanzadas,<br> Tu tienes sueños que merecen hacerse realidad</p>
          <p><%= link_to 'Empieza hoy', new_project_path, class: 'btn btn-lg btn-primary' %></p>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'repdom2.jpg', alt: 'Second Slide', class: 'img-responsive' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Soporta ideas innovadoras!</h1>
          <p>El 27% de los proyectos emprendidos en la República Dominica fracasan debido a la falta de recursos...</p>
          <p><%= link_to 'Apoya!', projects_path, class: 'btn btn-lg btn-primary' %></p>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'faroles.jpg', alt: 'Third Slide', class: 'img-responsive' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Consigue todo el apoyo que necesitas</h1>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
