<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= content_for?(:title) ? yield(:title) : "Impulsideas" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "crowdfunding app" %>">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'Impulsideas32x22.ico' %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
      <%= yield(:header) if content_for?(:header) %>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>
      </div>

      <footer id="footer">
        <hr>
        <p class="pull-right"><a href="#">Volver arriba</a></p>
        <p>&copy; <%= Time.now.year %> GAPEK, S.R.L.</p>
      </footer>
    </main>

    <%= javascript_include_tag "application" %>
    <%= analytics_init if Rails.env.production? %>

    <script>
      $.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js',function(){
        $('#projects_container').isotope({
          itemSelector : '.project_item',
          layoutMode : 'fitRows'
        });
      });
    </script>
  </body>
</html>
